html, body {
    overflow-x: hidden;
    font-family: 'TheGoodMonolith', sans-serif;
    background-color: #1a1c22;
    color: #29D398;
}

.ans {
    padding: 1em;
    background-color: #232530;
    border: 5px solid #29D398;
    color: #29D398;
    font-size: 1.5em;
    /*width: 30%;*/
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 65%;
    /*position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)*/
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.3em;
}
.button {
    background-color: #232530;
    box-shadow: 0.5rem 0.5rem #29D398;
    border: 0;
    padding: 0.5em;
    font-family: 'TheGoodMonolith', sans-serif;
    font-size: 1em;
    color: #29D398;
}

.button:active {
    box-shadow: 0.3rem 0.3em #29D398;
}
@keyframes move {
    to {
          background-position: 1000vh;
    }
}

@media screen and (max-width: 800px) {
    section {
        width: 85%;
    }
}